<%= form_for(@user) do |f| %>
<%= render 'shared/userform', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
   <div class="field">
    <%= f.label :birthday %><br />
    <%= date_select :user, :birthday, options = {:start_year => 1886 , :end_year => Time.now.year}  %>
  </div>
   <div class="field">
  <div class="field">
    <%= f.label :language_learning %><br />
    <%= radio_button( "user", "language_learning", "英語　English", options = {:checked => true}) %> 英語 English <br />
    <%= radio_button( "user", "language_learning", "Japanese 日本語", options = {}) %> 日本語 Japanese
   </div>
   <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :about, "About Me" %><br />
    <%= f.text_area:about %>
  </div>
  <div class="actions">
        <%= f.submit "Sign up" %>
  </div>
<% end %>
