<% if user_signed_in? %>
<%= form_for @card, :html=> {:multipart => true} do |f| %>
<%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :card_front %><br />
    <%= f.text_area:card_front, :class => "field" %>
  </div>
  <div class="field">
    <%= f.label :card_back  %><br />
    <%= f.text_area :card_back, :class => "field" %>
  </div>
  <div>
<center><%= f.submit "Add Card", :class => "addcardhome" %></center>
  </div>
  <br />
  <% end %>
  <hr />
  <h4>Your Cards</h4>
  <br />
  <%= render 'shared/feed' %>
<% else %>
<br />
<center><% logo = image_tag("eyelogobig.png" , :alt => "Eye Candy", :class => "") %>
<%= link_to logo, root_path %></center>
<br />
<center><h2>Input, Review, Remember</h2></center>
<br />
<br />
<br />
<div class="addcardhome"><%= link_to "Sign up now!", new_user_registration_path, :class => "redbuttonlink" %></div>
<br />
<%end%>