<% if user_signed_in? %>
<%= form_for @card, :html=> {:multipart => true} do |f| %>
<%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :card_front %><br />
    <%= f.text_area:card_front, :class => "field" %>
  </div>
  <div class="field">
    <%= f.label :card_back  %><br />
    <%= f.text_area :card_back, :class => "field" %>
  </div>
  <div style="height:100px;">
 <div style="float:left;"><%= f.submit "Add Card", :class => "addcardhome" %></div>
  <% end %>
  <div style="float:right;"><%= button_to "Review Cards", reviewcards_path, :class => "addcardhome" %></div>
  
    </div>
  <br />
  <%= render 'shared/feed' %>
<% else %>
<br />
<center><% logo = image_tag("eyelogobig.png" , :alt => "Eye Candy", :class => "") %>
<%= link_to logo, root_path %></center>
<br />
<center><h2>Input, Review, Remember</h2></center>
<br />
<center><%= link_to "Sign up now!", new_user_registration_path, :class => "addcardhome" %></center>

<br />
<%end%>