<% if user_signed_in? %>
<%= form_for @card, :html=> {:multipart => true} do |f| %>
<%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :card_front %><br />
    <%= f.text_area:card_front, :class => "field" %>
  </div>
  <div class="field">
    <%= f.label :card_back  %><br />
    <%= f.text_area :card_back, :class => "field" %>
  </div>
  <div class="field">

  
    <%= f.submit "Add Card" %>
  </div>
  <br />
  <% end %>
  <hr />
  <h3>Recent Cards</h4>
  <%= render 'shared/feed' %>
<% else %>
<h1>Welcome to Focus SRS</h1>
<p>Input, Review, Remember</p>
<%= link_to "Sign up now!", new_user_registration_path, :class => "addcard_button" %><br />
<%end%>