<h1> Edit Card </h1>

<%= form_for @card, :html=> {:multipart => true} do |f| %>
<%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label :card_front %><br />
    <%= @card.card_front %><br />
    <%= f.text_area:card_front %>
  </div>
  <div class="field">
    <%= f.label :card_back %><br />
    <%= @card.card_back %><br />
    <%= f.text_area :card_back %>
  </div>

  <div class="actions">
  
    <%= f.submit "Update Card", :class => "addcardhome"  %>
  </div>
<% end %>