<h2>Everyone's Cards</h2>
<br />
<br />
<div >
<center><%= will_paginate @cards %></center>
<br />
<div>
<div style="text-align:left; width: 400px; margin:auto;">

  <% @cards.each do |card| %>
  	    <div class="round" id="cards">
    Front: 
      <strong><%= card.card_front %></strong> <br />
    Back:
      <strong><%= card.card_back %></strong><br />
    Created <%= time_ago_in_words(card.created_at) %> ago.<br />
      <%= link_to "View", card %>
      <% if current_user.id == card.user_id %>
      | <%= link_to "Delete", card, :method => :delete, :confirm => "本当に？　You sure?",
                                :title => "Delete #{card.card_front}" %> | This is your card.
      <% else %>
   <div style="float:right">    <%= button_to "Add to deck", copy_card_path(card), :name => "Add to deck", :class => "copysubmit" %> </div> 
  <% end %>
    </div>
<br />
  <% end %>
</div>
</div>
<center><%= will_paginate @cards %></center>