
<h4>Front:
<%= @card.card_front %></h4>
<h4>Back:</h4><br />

<div class="card"><%= @card.card_back %></div> <br /> <br />
<br /> <br />
<div id="review_buttons">

<%= form_for(@card) do |f| %>

<%= submit_tag 'Blank', :name => 'zero', :class => 'reviewbutton' %>

<%= submit_tag 'Missed', :name => 'one', :class => 'reviewbutton' %>

<%= submit_tag 'Almost', :name => 'two', :class => 'reviewbutton' %>

<%= submit_tag 'Barely', :name => 'three', :class => 'reviewbutton' %>

<%= submit_tag 'Right', :name => 'four', :class => 'reviewbutton'  %>

<%= submit_tag 'Easy', :name => 'five', :class => 'reviewbutton'  %>
<% end %>


<div>