<header>
<% logo = image_tag("eyelogo.png" , :alt => "Eye Candy", :class => "") %>
<%= link_to logo, root_path %>
Beta
<nav class="">
  <div id="nav">
  <%= link_to I18n.translate('home'), root_path %> &nbsp;&nbsp;
  <%= link_to I18n.translate('about'), about_path %> &nbsp;&nbsp;
    <% if user_signed_in? %>
  <%= link_to I18n.translate('allcards'), cards_path %> &nbsp;&nbsp;
  <%= link_to I18n.translate('reviewcard'), reviewcards_path %> &nbsp;&nbsp;
  <%= link_to I18n.translate('usersettings'), edit_user_registration_path %>
  <% else %>
  <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>

  </div>
</nav>
<br />
  <div style="float:right;">
    <% form_tag cards_path, :method => 'get' do %>
     <%= text_field_tag :search, params[:search] %>
         <%= submit_tag I18n.translate('cardsearch'), :name => nil %><br />
    <% end %>
</div>
</header>
